{% spaceless %}
<!-- Carousel
    ================================================== -->
    <div id="indexCarousel" class="carousel slide" data-ride="carousel">

        {#
      	<!-- Indicators -->
      	<ol class="carousel-indicators">
        	<li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
        	<li data-target="#indexCarousel" data-slide-to="1"></li>
        	<li data-target="#indexCarousel" data-slide-to="2"></li>
        	<li data-target="#indexCarousel" data-slide-to="3"></li>
          <li data-target="#indexCarousel" data-slide-to="4"></li>
      	</ol>
        #}

      	<div class="carousel-inner" role="listbox">

        	<div class="item active backgroundColorDarkBlue">

        		<div class="container">
          		<div class="carousel-caption">


                {% image '@DisismyWebBundle/Resources/public/images/man.png' %}
                  <img src="{{ asset_url }}" alt="Hello!" />
                {% endimage %}

                {{ 'index.carousel.item1.title' | trans | raw }}
                {{ 'index.carousel.item1.content' | trans | raw }}

          		</div>
        		</div>
      	  </div>



        	<div class="item backgroundColorDarkGreen">
        		<div class="container">
          		<div class="carousel-caption">

                  {% image '@DisismyWebBundle/Resources/public/images/house.png' %}
                    <img src="{{ asset_url }}" alt="House" />
                  {% endimage %}

                  {{ 'index.carousel.item2.title' | trans | raw }}
                  {{ 'index.carousel.item2.content' | trans | raw }}

              </div>
        		</div>
        	</div>

	        <div class="item backgroundColorDarkOrange">
        		<div class="container">
          		<div class="carousel-caption">


                  {% image '@DisismyWebBundle/Resources/public/images/Default/hotel.png' %}
                    <img src="{{ asset_url }}" alt="Hotel" />
                  {% endimage %}


                  {{ 'index.carousel.item3.title' | trans | raw }}
                  {{ 'index.carousel.item3.content' | trans | raw }}

          		</div>
        		</div>
        	</div>

        	<div class="item backgroundColorBlue">
          		<div class="container">
            		<div class="carousel-caption">


                  {% image '@DisismyWebBundle/Resources/public/images/crane.png' %}
                    <img src="{{ asset_url }}" alt="Real State Promotion" />
                  {% endimage %}

                  {{ 'index.carousel.item4.title' | trans | raw }}
                  {{ 'index.carousel.item4.content' | trans | raw }}

            		</div>
          		</div>
        	</div>

          <div class="item backgroundColorOrange">
              <div class="container">
                <div class="carousel-caption">


                  {% image '@DisismyWebBundle/Resources/public/images/Default/handsUp.svg' %}
                    <img src="{{ asset_url }}" alt="We can help you" />
                  {% endimage %}

                  {{ 'index.carousel.item5.title' | trans | raw }}
                  {{ 'index.carousel.item5.content' | trans | raw }}

                </div>
              </div>
          </div>

  		</div>

		<a class="left carousel-control" href="#indexCarousel" role="button" data-slide="prev">
        	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        	<span class="sr-only">Previous</span>
  		</a>

		<a class="right carousel-control" href="#indexCarousel" role="button" data-slide="next">
    	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        	<span class="sr-only">Next</span>
    	</a>
	</div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
{% endspaceless %}
