.imageManagerCss .modal-header.alert-danger
{
    padding:9px 15px;
    /* border-bottom:1px solid rgb(169, 68, 66); */
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.imageManagerCss .modal-body.scrollable
{
    overflow-y: scroll;
    height: 500px;
}

.imageManagerCss #showMoreOptions span, .imageManagerCss #hideMoreOptions span
{
    font-size: 11px;
}

.imageManagerCss #imgExtraOptions
{
    display: none;
}

.imageManagerCss #showMoreOptions, .imageManagerCss #hideMoreOptions
{
    cursor: pointer;
}

.imageManagerCss #addImgForm
{
    display: none;
}

.imageManagerCss .loadingDIV
{
    background: transparent url(../../images/gammaGallery/loader_light.gif) no-repeat center center;
    height: 120px;
}

.imageManagerCss #image_imageFile_file
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.imageManagerCss #image_imageFile_file:focus + label
{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.context-menu-item.fa
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

#imagesToDeleteNamesList
{
    margin-top: 20px;
}
