/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}

.carousel-inner img
{
  height: 180px;
  -webkit-filter: drop-shadow( 0px 1px 2px rgba(0, 0, 0, .6) );
  filter: drop-shadow( 0px 1px 2px rgba(0, 0, 0, .6) );
}

.carousel p
{
    color: white;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

@media (min-width: 992px) {
}
