/*! indexCss */
.indexCss #services > div:first-child
{
    border-top: 1px solid #e7e7e7;
}

.indexCss #services > div:nth-child(odd)
{
    padding: 50px 15px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.indexCss #services > div:nth-child(even)
{
    padding: 50px 15px;
    border-bottom: 1px solid #e7e7e7;
    border-collapse: collapse;
}

.indexCss #services > div:last-child
{
    border-bottom: 0px solid #e7e7e7;
}

.indexCss #services .btn
{
    margin-bottom: 10px;
}

.indexCss .section-heading {
    margin-bottom: 30px;
}




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.indexCss .marketing .col-md-4
{
  margin-bottom: 40px;
  text-align: center;
}
.indexCss .marketing h2
{
  font-weight: normal;
}
.indexCss .marketing .col-md-4 p
{
  margin-right: 10px;
  margin-left: 10px;
}



@media ( max-width:768px )
{
    .indexCss .padding5pxRight, .indexCss .padding5pxLeft
    {
        padding: 0px;
    }
}

@media ( min-width:768px )
{
    .indexCss .padding5pxRight
    {
        padding: 0px 5px 0px 0px;
    }
    .indexCss .padding5pxLeft
    {
        padding: 0px 0px 0px 5px;
    }
}
.indexCss .btn-lg
{
    font-size: 14px;
}
@media (min-width: 768px) and (max-width: 992px)
{
    .indexCss .btn-lg
    {
        font-size: 12px;
    }
}

@media ( max-width:768px )
{
    .indexCss .summaries
    {
        margin-bottom: 30px;
    }
}
