{% extends 'DisismyWebBundle::main.html.twig' %}
{% spaceless %}


{% block stylesheets %}
	{{ parent() }}


    {% stylesheets
        'bundles/disismyweb/css/Panos/edit.css'
        filter='?uglifycss' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}








{% block mainContent %}
	edit Pano
{% endblock %}

{% endspaceless %}
