{% spaceless %}
    <div id="panoView">
        <div id="infoPanel">
            <div class="container">
                <h1>{{ pano[ "name" ] | raw }}</h1>
                <p>{{ pano[ "desc" ] | raw }}</p>
                <button type="button" class="btn btn-success">{{ 'pano.show.begin' | trans }}</button>
            </div>
        </div>
        <div id="panoBtns">
            <div id="fullscreenBtn">
                <span id="enlargeSpan" class="icon-enlarge" aria-hidden="true"></span>
                <span id="shrinkSpan" class="icon-shrink hidden" aria-hidden="true"></span>
            </div>
            <div id="deviceControlBtn">
                <span id="touchCtrlSpan" class="icon-touch_app" aria-hidden="true"></span>
                <span id="gyroscopeCtrlSpan" class="icon-3d_rotation" aria-hidden="true"></span>
            </div>
        </div>

        <div class="notifications">Notifications</div>

        <div id="showMoreLessBtn">
            <span id="showInfo"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>
            <span id="showPano"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>

        </div>
    </div>
{% endspaceless %}
