<div class="row">

    <!-- textoDcha -->
    <div class="col-lg-7 col-sm-push-5 col-sm-7">

        <h2 class="section-heading"><%= Translator.trans( 'object.show.share' ) %> &nbsp;
            <div class="ssk-group ssk-round ssk-center" id="socialBtns">
                <a class="ssk ssk-facebook"></a>
                <a class="ssk ssk-twitter"></a>
                <a class="ssk ssk-google-plus"></a>
                <a class="ssk ssk-pinterest"></a>
                <a class="ssk ssk-tumblr"></a>
                <!--<a class="ssk ssk-vk"></a>-->
                <a class="ssk ssk-linkedin"></a>
                <a id="whatsappBtn" href="whatsapp://send?text=Check%20my%20Pano:%20<%= Disismy.Symfony.APP_REQUEST_URI %>" class="ssk ssk-whatsapp" title="WhatsApp"></a>
                <a class="ssk ssk-email"></a>
            </div>
            <!--<span class="icon-share" aria-hidden="true"></span>-->
        </h2>

        <p><%= Translator.trans( 'object.show.link' ) %>:</p>
        <div class="input-group">
            <textarea rows="2" class="form-control custom-control" id="panoLinkTA" spellcheck="false" readonly ><%= window.location.href %></textarea>
            <span id="copyPanoLink" class="input-group-addon btn btn-primary"><%= Translator.trans( 'object.show.copy' ) %></span>
        </div>

        <p><%= Translator.trans( 'object.show.embed' ) %>:</p>

        <div class="input-group">
            <textarea rows="4" class="form-control custom-control" id="embedPanoLinkTA" spellcheck="false" readonly ><iframe src="<%= window.location.href %>&isEmbeded=1" width="560" height="315" frameborder="0" scrolling="no" allowfullscreen></iframe></textarea>
            <span class="input-group-addon btn btn-primary" id="copyEmbedPanoLinkTA"><%= Translator.trans( 'object.show.copy' ) %></span>
        </div>

    </div>


    <!-- imagen -->
    <div class="col-lg-5 col-sm-pull-7  col-sm-5">
            <img class="img-responsive" src="/bundles/disismyweb/images/share.jpg" alt="<%= Translator.trans( 'share_your_panos' ) %>" />
    </div>

</div>
