#panoView
{
    position: relative;
    cursor: -webkit-grab;
    cursor: grab;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#panoView:-webkit-full-screen
{
  width: 100%;
  height: 100%;
}

#panoView>img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    z-index: 99999;
}

#panoView>#infoPanel
{
    background-color: rgba( 0, 0, 0, 0.75 );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    cursor: auto;
    display: none;
}

#panoView>.notifications
{
    background-color: rgba( 0, 0, 0, 0.75 );
    color: white;
    text-align: center;
    position: absolute;
    padding: 15px;
    width: 100%;
    top: -55px;
    height: 48px;
}
#panoView>.notifications.success
{
    background-color: rgba( 81, 163, 81, 0.75 );
}
#panoView>.notifications.info
{
    background-color: rgba( 0, 136, 204, 0.75 );
}
#panoView>.notifications.warning
{
    background-color: rgba( 248, 148, 6, 0.75 );
}
#panoView>.notifications.danger
{
    background-color: rgba( 189, 54, 47, 0.75 );
}

#panoView #infoPanel>.container
{
    position: absolute;
    bottom: 20vh;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}
@media ( min-width:768px )
{
    #panoView #infoPanel>.container
    {
        padding-right: 10%;
        padding-left: 10%;
    }
}

#panoView #infoPanel h1
{
    margin-bottom: 20px;
    cursor: default;
}
#panoView #infoPanel p
{
    margin-bottom: 30px;
    cursor: default;
    color: white;
    font-size: 15px;
}

#panoView #infoPanel button
{
    padding-left: 35px;
    padding-right: 35px;
}

#panoView .panoCanvas
{
	width: 100%;
	height: auto;
}


#panoView #panoBtns
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
}

.fullscreen #panoView #fullscreenBtn
{
    padding: 13px 15px;
    height: 48px;
    width: 48px;
    color: white;
    background-color: rgba( 0,0,0,0.2 );
    font-size: 18px;
    cursor: pointer;
}
.fullscreen #panoView #fullscreenBtn:hover
{
    background-color: rgba( 0,0,0,0.5 );
}

.no-fullscreen #panoView #fullscreenBtn
{
    display: none;
}

#panoView #deviceControlBtn
{
    padding: 6px 12px;
    height: 48px;
    width: 48px;
    color: white;
    background-color: rgba( 0,0,0,0.2 );
    font-size: 24px;
    cursor: pointer;
}
#panoView #deviceControlBtn:hover
{
    background-color: rgba( 0,0,0,0.5 );
}

#panoView #deviceControlBtn, #panoView #touchCtrlSpan, #panoView #gyroscopeCtrlSpan
{
    display: none;
}


#panoView #showMoreLessBtn
{
    position: absolute;
    bottom: 0px;
    background-color: rgba( 255, 255, 255, 0.8 );
    padding: 12px 15px 7px;
    text-align: center;
    width: 100px;
    left:-webkit-calc(50% - 50px);
    left:-moz-calc(50% - 50px);
    left:calc(50% - 50px);
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#panoView #showMoreLessBtn:hover
{
	background-color: white;
}

#panoView #showPano
{
	display: none;
}
