{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        {% block metadata %}<meta charset="UTF-8" />{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block fonts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset( 'favicon.ico' ) }}" />
        {% block beforeHeadEnds %}{% endblock %}
    </head>
    <body>
        {% block body0 %}
            <!-- Google Tag Manager -->
            <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5V7TH5"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5V7TH5');</script>
            <!-- End Google Tag Manager -->
        {% endblock %}
        {% block body %}{% endblock %}
        {% block modals %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endspaceless %}
