.loadmore {
	padding: 10px;
	background: #ddd;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	margin: 10px 4px;
	display: none;
}

.loadmore:hover {
	background: #333;
}

span.removeImg, span.editImg, span.selectImg
{
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

span.selectImg
{
	padding-top: 5px;
}

span.selectImg input
{
	margin-top: -4px;
}

span.editImg
{
    right: 40px;
}

span.removeImg
{
    right: 76px;
}

span.removeImg:hover, span.editImg:hover, span.selectImg:hover
{
    background-color: rgba(0,0,0,0.75);
}
