{% spaceless %}
{# Facebook SDK #}
<script id="fbSDK">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '815662818559770',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{# Facebook SDK #}
{% endspaceless %}
