{% if showFooter %}
    {% spaceless %}
    {#<!-- Footer -->#}
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-9 text-left centeredInXS">

                    <p class="copyright text-muted small">Copyright &copy; disismy {{ "now" | date( "Y" ) }}. {{ 'footer.all_rights_reserved' | trans }}.&nbsp;&nbsp;<a href="mailto:webmaster@disismy.com?subject=Feedback" role="button"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ 'contact_with_us' | trans }}</a>&nbsp;&nbsp; &bull; &nbsp;&nbsp;<a role="button" href="tel:+34629855501"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;( +34 ) 629 85 55 01</a>&nbsp;&nbsp; &bull; &nbsp;&nbsp;<a href="http://www.freepik.com/free-photos-vectors/icon" target="_blank">Icon vector designed by Freepik</a></p>

                </div>



                <div class="col-xs-12 col-sm-3 text-right centeredInXS">

                    <div class="btn-group dropup" id="lngChooser">

                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="lang-sm lang-lbl-full" lang="{{app.request.locale}}"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a href="{{ path( LOCALIZED_ROUTE, app.request.get('_route_params') | merge({'_locale': 'en' })) }}">
                                    <span class="lang-sm lang-lbl-full" lang="en"></span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path( LOCALIZED_ROUTE, app.request.get('_route_params') | merge({'_locale': 'es' })) }}">
                                    <span class="lang-sm lang-lbl-full" lang="es"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>


        </div>
    </footer>
    {% endspaceless %}

{% endif %}
