{% spaceless %}
    {#<!-- Navigation -->#}
    <nav class="navbar navbar-default navbar-fixed-top topnav">

        <div class="container topnav">

            {#<!-- Brand and toggle get grouped for better mobile display -->#}
            <div class="navbar-header">

                {# si esta definido y su valor es false no lo mostramos #}
                {% if maintenanceMode is defined and maintenanceMode == true %}

                {# si maintenanceMode no esta definido, o si esta definido y su valor es true lo mostramos #}
                {% else %}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                {% endif %}


                <a class="navbar-brand topnav" href="{{ path( LOCALIZED_PREFIX ~ 'index' ) }}#/">
                    {% image '@DisismyWebBundle/Resources/public/images/logoWeb.svg' %}
                        <img src="{{ asset_url }}" alt="disismy logo" id="mainLogo" width="146" height="45" />
                    {% endimage %}
                </a>


            </div>


            {# si esta definido y su valor es false no lo mostramos #}
            {% if maintenanceMode is defined and maintenanceMode == true %}

            {# si maintenanceMode no esta definido, o si esta definido y su valor es true lo mostramos #}
            {% else %}

                {#<!-- Collect the nav links, forms, and other content for toggling -->#}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul id="navbarButtonsUL" class="nav navbar-nav navbar-right">

                        {# ESTA LOGUEADO #}
                        {% if is_granted( "IS_AUTHENTICATED_REMEMBERED" ) %}
                            <li>
                                <a class="btn btn-primary" role="button" href="{{ BASE_URL }}/#/profile/{{ ENCODED_CURUSER_ID }}" id="disismyProfileBtn" >
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;
                                    {{ 'nav_bar.my_profile' | trans }}
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-success" role="button" href="{{ BASE_URL }}/#/object/gallery/{{ ENCODED_CURUSER_ID }}" id="disismyMyObjectsBtn">
                                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;&nbsp;
                                    {{ 'nav_bar.my_objects' | trans }}
                                </a>
                            </li>
                            <li>
                                <p class="navbar-btn logoutNavbarSection">
                                    {{app.user.username}} &nbsp;|&nbsp;&nbsp;
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout' | trans( {}, 'FOSUserBundle') }}
                                    </a>
                                </p>
                            </li>
                        {# NO ESTA LOGUEADO #}
                        {% else %}
                            <li>
                                <a class="btn btn-primary" role="button" href="{{ path( LOCALIZED_PREFIX ~ 'fos_user_security_login' ) }}">
                                    <span class="icon-mood"></span> &nbsp;&nbsp;{{ 'layout.login' | trans( {}, 'FOSUserBundle') }}
                                </a>
                            </li>

                            <li>
                                <a class="btn btn-success" role="button" href="tel:+34629855501">
                                    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;( +34 ) 629 85 55 01
                                </a>
                            </li>
                        {% endif %}

                    </ul>

                </div>

            {% endif %}
            {#<!-- /.navbar-collapse -->#}
        </div>

        <!-- /.container -->
    </nav>
{% endspaceless %}
