{% extends 'base.html.twig' %}

{% spaceless %}


{# GLOBAL TWIG VARIABLES #}
{% set locale = app.request.locale %}
{% set BOWER_PATH = asset( 'bundles/disismyweb/' ) ~ "libs/bower/bower_components/" %}
{% if is_granted( "IS_AUTHENTICATED_REMEMBERED" ) %}
    {% set ENCODED_CURUSER_ID = globals.optimus.encode( app.user.id ) %}
{% endif %}

{% if 'localized_' in app.request.get( '_route' ) %}
    {% set LOCALIZED_ROUTE = app.request.get( '_route' ) %}
	{% set LOCALIZED_PREFIX = "localized_" %}
{% else %}
    {% set LOCALIZED_ROUTE = "localized_" ~ app.request.get( '_route' ) %}
	{% set LOCALIZED_PREFIX = "" %}
{% endif %}
{% set ENV = app.environment %}
{% set showHeader = true %}
{% set showFooter = true %}

{% if isPanoInFullScreen is defined and isPanoInFullScreen == "true" %}
    {% set showHeader = false %}
    {% set showFooter = false %}
{% endif %}


{% if app.environment  == "dev" %}
    {% set BASE_URL = app.request.getSchemeAndHttpHost() ~ '/app_dev.php' %}
{% else %}
    {% set BASE_URL = app.request.getSchemeAndHttpHost() %}
{% endif %}


{% block metadata %}

    {{ parent() }}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="{{ 'disismy_desc' | trans }}">
    <meta name="author" content="Txabi L&oacute;pez Saralegui">



    <meta property="og:type" content="website" />
    <meta property="og:url" content="objectUrl" />
    <meta property="og:title" content="objectName" />
    <meta property="og:description" content="objectDesc" />

    <meta property="og:image:url" content="imageUrl" />
    <meta property="og:image:secure_url" content="imageSecureUrl" />
    <meta property="og:image:type" content="imageType" />
    <meta property="og:image:width" content="imageWidth" />
    <meta property="og:image:height" content="imageHeight" />


{% endblock %}


{% block title %}disismy - Show things better.{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets
        'bundles/disismyweb/libs/bower/bower_components/bootstrap/dist/css/bootstrap.min.css'
        'bundles/disismyweb/libs/bower/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css'
        'bundles/disismyweb/libs/bower/bower_components/jQuery-contextMenu/dist/jquery.contextMenu.min.css'
        'bundles/disismyweb/font-awesome/css/font-awesome.css'
        'bundles/disismyweb/css/languages.css'
        'bundles/disismyweb/css/Icomoon/style.css'
        'bundles/disismyweb/libs/bower/bower_components/social-share-kit/dist/css/social-share-kit.css'
        'bundles/disismyweb/css/Default/centeredModal.css'
        'bundles/disismyweb/libs/bower/bower_components/animate.css/animate.css'
        'bundles/disismyweb/css/default.css'


        'bundles/disismyweb/css/gammaGallery/noJS.css'
        'bundles/disismyweb/css/gammaGallery/style.css'
        'bundles/disismyweb/css/gammaGallery/gamma.css'
        'bundles/disismyweb/css/Images/ImageManager.css'
        'bundles/disismyweb/libs/bower/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css'
        'bundles/disismyweb/libs/bower/bower_components/jquery-tag-editor/jquery.tag-editor.css'
        'bundles/disismyweb/css/Panos/pano.css'
        'bundles/disismyweb/css/SharingMod/sharingMod.css'

        'bundles/disismyweb/css/Default/index.css'
        'bundles/disismyweb/css/Objects/gallery.css'
        'bundles/disismyweb/css/Objects/show.css'
        'bundles/disismyweb/css/Objects/edit.css'
        'bundles/disismyweb/css/TypedObjects/editHouseForm.css'

        filter='?uglifycss' filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


{% endblock %}



{% block fonts %}

    {{ parent() }}

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

{% endblock %}



{% block beforeHeadEnds %}

    {{ parent() }}

{% endblock %}



{% block body %}

    {{ parent() }}

	{% include 'DisismyWebBundle::header.html.twig' %}


    <div id="debugTxt"></div>

    <div id="mainContentContainer">

       {% block mainContent %}
       {% endblock %}

    </div>

    {% if hasGoogleMaps is defined %}
        <div id="map" style="height: 100%;"></div>
    {% endif %}


	{% include 'DisismyWebBundle::footer.html.twig' %}

{% endblock %}




{% block javascripts %}

    {{ parent() }}


    {% if hasGoogleMaps is defined %}
        <script id="gMapsScript">
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
            {
              center: {lat: -34.397, lng: 150.644},
              zoom: 8
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIWAh4bDdUYGcCTTHRO33DC6k_pqCqG80&callback=initMap"
    async defer></script>
    {% endif %}







    <script>
        "use strict";
        window.Disismy =
        {
            'Pano':
            {
                'view': null,
                'requestAnimationFrame': null
            },
            "Symfony":
            {
                'locale': "{{ locale }}",
                'ASSETS_URL': "{{ asset( 'bundles/disismyweb/' ) }}",
                'ENV': "{{ ENV }}",
                'DEBUG': ( ( "{{ app.environment }}" === "dev" ) ? true : false ),
                'BASE_URL': "{{ BASE_URL }}",
                'APP_REQUEST_URI': "{{ app.request.uri }}",
                'requireJScurAppPath': null,
                'extra': {}, // propiedad para pasar variables sueltas de Symfony a js
            }
        };

        localStorage.setItem( "locale", Disismy.Symfony.locale );

    </script>


    {% if isFosUserBundleContent is not defined %}
        <script id="translator" src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script id="bazinga_jstranslation_js" src="{{ url( 'bazinga_jstranslation_js', { 'domain': 'messages' } ) }}?locales={{ locale }}"></script>


        {% if( ENV=='dev' ) %}
            <script id="appScript" data-main="{{ asset( 'bundles/disismyweb/js/main.js' ) }}" src="{{ asset('bundles/disismyweb/libs/npm/node_modules/requirejs/require.js') }}"></script>
        {% else %}
            <script id="appScript" src="{{ asset('bundles/disismyweb/js/main.min.js') }}" type="text/javascript"></script>
        {% endif %}
    {% endif %}



    {# <script src="https://e11017c3.ngrok.io/target/target-script-min.js#anonymous"></script> #}

{% endblock %}

{% endspaceless %}
