<div class="modal-dialog">
    <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal">
                <span aria-hidden="true">&times</span>
                <span class="sr-only"><%= Translator.trans( 'close' ) %></span>
            </button>
            <h4 class="modal-title">
                <%= Translator.trans( 'image.manager.add_new_image' ) %>
            </h4>
        </div>

        <!-- body -->
        <div class="modal-body">
            <div class="loadingDIV"></div>
            <form class="hidden" name="image" method="post" id="addImgForm" enctype="multipart/form-data">
                <!-- file -->
                <div class="row mt20px">
                    <div class="col-xs-12 col-sm-4 text-right centeredInXS mb5px">
                        <label><%= Translator.trans( 'image.entity.file' ) %>:</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-left centeredInXS">
                        <div class="vich-file">
                            <input type="file" id="image_imageFile_file" name="image[imageFile][file]" multiple="multiple" />
                            <label class="btn btn-mini btn-success" for="image_imageFile_file"><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span> &nbsp;&nbsp;Choose a file</label>
                        </div>
                    </div>
                </div>

                <!-- name -->
                <div class="row mt20px">
                    <div class="col-xs-12 col-sm-4 text-right centeredInXS mb5px">
                        <label for="image_name">
                            <%= Translator.trans( 'image.entity.name' ) %>:
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-left centeredInXS">
                        <input type="text" name="image[name]" id="image_name" class="form-control" placeholder="<%= Translator.trans( 'image.entity.name' ) %>" />
                    </div>
                </div>

                <!-- showMoreOptions -->
                <div class="row mt20px" id="showMoreOptions">
                    <div class="col-xs-12 text-center mb5px">
                        <%= Translator.trans( 'showMoreOptions' ) %> ▼
                    </div>
                </div>

                <!-- hideMoreOptions -->
                <div class="row mt20px hidden" id="hideMoreOptions">
                    <div class="col-xs-12 text-center mb5px">
                        <%= Translator.trans( 'hideMoreOptions' ) %> ▲
                    </div>
                </div>

                <!-- imgExtraOptions -->
                <div class="row mt20px" id="imgExtraOptions">
                    <div class="col-xs-12">
                        <%
                            _.each( languages, function( language )
                            {
                        %>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-right centeredInXS mb5px">
                                    <label for="image_alt_<%= language.locale %>">
                                        <%= Translator.trans( 'image.entity.alt' ) %>&nbsp;&nbsp;<img src="<%= globals.BASE_URL %>/rawImage/<%= language.thumbnailEncodedId %>" width="22" height="16"> :
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 text-left centeredInXS">
                                    <input type="text" id="image_alt_<%= language.locale %>" name="image[alt_<%= language.locale %>]" class="form-control" placeholder="<%= Translator.trans( 'image.entity.placeholder' ) %>" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-4 text-right mb5px centeredInXS">
                                    <label for="image_description_<%= language.locale %>">
                                        <%= Translator.trans( 'entities.description' ) %>&nbsp;&nbsp;<img src="<%= globals.BASE_URL %>/rawImage/<%= language.thumbnailEncodedId %>" width="22" height="16"> :
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 text-left centeredInXS">
                                    <textarea id="image_description_<%= language.locale %>" name="image[description_<%= language.locale %>]" class="form-control"></textarea>
                                </div>
                            </div>
                        <%
                            });
                        %>
                    </div>
                </div>
            </form>
        </div>

        <!-- footer -->
        <div class="modal-footer">
            <button id="addNewImgBtn" class="btn btn-success" type="button" data-dismiss="ok">
                <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
                &nbsp;&nbsp;<%= Translator.trans( 'entities.upload' ) %>
            </button>
            <button class="btn btn-default" type="button" data-dismiss="modal">
                <%= Translator.trans( 'close' ) %>
            </button>
        </div>
    </div>
</div>
