<div class="modal-dialog">
    <div class="modal-content">
        <!-- header -->
        <div class="modal-header alert-danger">
            <button class="close" type="button" data-dismiss="modal">
                <span aria-hidden="true">&times</span>
                <span class="sr-only"><%= Translator.trans( 'close' ) %></span>
            </button>
            <h4 class="modal-title">
                <%= Translator.trans( 'remove_element' ) %>
            </h4>
        </div>
        <!-- body -->
        <div id="imageManagerModalBckg" class="modal-body scrollable">
            <div class="loadingDIV"></div>
            <div class="content hidden">
                <p>
                    <%= Translator.trans( 'image.manager.are_you_sure_you_want_to_perform_this_action' ) %>
                </p>
                <p>
                    <%= Translator.trans( 'image.manager.remove_image_explanation' ) %>
                </p>
                <div id="imagesToDeleteNamesList">
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="modal-footer">
            <button id="deleteImgBtn" class="btn btn-danger" type="button" data-dismiss="ok">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    &nbsp;&nbsp;<%=   Translator.trans( 'delete' ) %>
            </button>
            <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">
                <%= Translator.trans( 'close' ) %>
            </button>
        </div>
    </div>
</div>
