<div class="modal-dialog bigModal">
    <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <button class="close closeImageManagerModal" data-dismiss="modal" type="button" disabled="true">
            <span aria-hidden="true">&times</span>
            <span class="sr-only"><%= Translator.trans( 'close' ) %></span>
          </button>
          <h4 class="modal-title">
            <%= Translator.trans( 'object.gallery.myGalleryTitle', { 'objectType': Translator.trans( 'objectTypes.images' ) } ) %>
          </h4>
        </div>
        <!-- body -->
        <div id="imageManagerModalBckg" class="modal-body scrollable">
          <div class="gamma-container gamma-loading" id="gamma-container">

          </div>

        </div>
        <!-- footer -->
        <div class="modal-footer">
          <button class="btn btn-success" type="button" data-toggle="modal" data-target="#addNewImageModal">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            &nbsp;&nbsp;<%= Translator.trans( 'image.manager.add_new_image' ) %>
          </button>
          <button id="selectImagesBtn" class="btn btn-default" type="button" disabled="true">
            (<span class="imageSelectedNum">0</span>) <%= Translator.trans( 'image.manager.select_n_images' ) %>
          </button>
          <button id="deleteImagesBtn" class="btn btn-danger" type="button" disabled="true">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              &nbsp;(<span class="imageSelectedNum">0</span>) &nbsp;<%= Translator.trans( 'image.manager.remove_images' ) %>
          </button>
        </div>
    </div>
</div>
