<div data-encoded-img-id="<%= model.encodedId %>" data-name="<%= model.name %>" data-alt="<%= model.alt %>" data-description="<%= model.desc %>" data-max-width="1800" data-max-height="1350">
    <div data-src="<%= globals.BASE_URL %>/rawImage/<%= model.encodedId %>" data-min-width="1300"></div>
    <div data-src="<%= globals.BASE_URL %>/rawImage/<%= model.encodedId %>" data-min-width="1000"></div>
    <div data-src="<%= globals.BASE_URL %>/rawImage/<%= model.encodedId %>" data-min-width="700"></div>
    <div data-src="<%= globals.BASE_URL %>/rawImage/<%= model.encodedId %>" data-min-width="300"></div>
    <div data-src="<%= globals.BASE_URL %>/rawImage/<%= model.encodedId %>" data-min-width="200"></div>
    <div data-src="<%= globals.BASE_URL %>/rawImage/<%= model.encodedId %>" data-min-width="140"></div>
    <div data-src="<%= globals.BASE_URL %>/rawImage/<%= model.encodedId %>"></div>
    <noscript>
        <img src="<%= globals.BASE_URL %>/rawImage/<%= model.encodedId %>" alt="<%= model.alt %>">
    </noscript>
</div>
