<div class="row mt50px">
    <div class="col-xs-12 col-sm-4 text-right mb5px">
        <label for="object_house_utilSqMeters"><%= Translator.trans( 'entities.utilSqMeters' ) %>:</label>
    </div>
    <div class="col-xs-12 col-sm-6 text-left">
        <input type="number" id="object_house_utilSqMeters" name="object[house][utilSqMeters]" class="form-control" value="<%= house.get( 'utilSqMeters' ) %>"> m2
    </div>
    <div class="col-xs-12 col-sm-2 text-left centeredInXS">
        <!-- form_errors -->
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-4 text-right mb5px">
        <label for="object_house_builtSqMeters"><%= Translator.trans( 'entities.builtSqMeters' ) %>:</label>
    </div>
    <div class="col-xs-12 col-sm-6 text-left">
        <input type="number" id="object_house_builtSqMeters" name="object[house][builtSqMeters]" class="form-control" value="<%= house.get( 'builtSqMeters' ) %>"> m2
    </div>
    <div class="col-xs-12 col-sm-2 text-left centeredInXS">
        <!-- form_errors -->
    </div>
</div>
