{% extends 'DisismyWebBundle::main.html.twig' %}

{% spaceless %}


{% block stylesheets %}
	{{ parent() }}


    {% stylesheets
        'bundles/disismyweb/css/Default/carousel.css'
        'bundles/disismyweb/css/Spetials/maintenance.css'
        filter='?uglifycss' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block beforeHeadEnds %}
	{{ parent() }}

	<script id="three.js" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>

{% endblock %}



{% block mainContent %}





    {% include 'DisismyWebBundle:Default:carousel.html.twig' %}






{% endblock %}






{% block javascripts %}

    {{ parent() }}

    {% javascripts
        '@DisismyWebBundle/Resources/public/js/utils/Spetials/maintenance.js'
        filter='?uglifyjs2'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% endspaceless %}
