{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}


    {% stylesheets
        'bundles/disismyweb/css/FOSUserBundle/register.css'
        filter='?uglifycss' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}

    {{ parent() }}

    {% javascripts
        '@DisismyWebBundle/Resources/public/libs/bower/bower_components/jquery/dist/jquery.min.js'
        '@DisismyWebBundle/Resources/public/js/utils/FOSUserBundle/register.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
