{% trans_default_domain 'FOSUserBundle' %}


<h1>{{ 'registration.title'|trans }}</h1>


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class="formErrors">
    {{ form_errors( form ) }}
    {{ form_errors( form.email ) }}
    {{ form_errors( form.username ) }}
    {{ form_errors( form.plainPassword.first ) }}
    {{ form_errors( form.plainPassword.second ) }}
    {#
    {{ form_errors( form.privacyPolicy ) }}
    {{ form_errors( form.customerAgreement ) }}
    #}

    {{ form_errors( form.recaptcha ) }}

</div>

<div id="registrationInputs">

    {{ form_widget( form.email, {'attr': { 'placeholder': 'form.email' } } ) }}

    {{ form_widget( form.username, {'attr': { 'placeholder': 'form.username' } } ) }}

    {{ form_widget( form.plainPassword.first, {'attr': { 'placeholder': 'form.password' } } ) }}

    {{ form_widget( form.plainPassword.second, {'attr': {'class': 'lastInput', 'placeholder': 'form.password_confirmation' } } ) }}

    {#
    {{ form_label( form.privacyPolicy ) }}
    {{ form_widget( form.privacyPolicy ) }}

    {{ form_label( form.customerAgreement ) }}
    {{ form_widget( form.customerAgreement ) }}
    #}

    <div class="form-group marginTop30px">
        {{ form_widget(form.recaptcha, { 'attr': {
            'options' : {
                'theme': 'light',
                'type': 'image',
                'size': 'normal'
            },
        } }) }}
    </div>


    {{ form_widget(form._token) }}
</div>


<div class="form-group">
    <p class="help-block fs14px" data-i18n="[html]privacy_policy_and_customer_agreement;" data-i18n-options="{ &quot;privacy_policy_link&quot; : &quot;/#&quot;, &quot;customer_agreement_link&quot; : &quot;/#&quot; }">
    	By clicking you agree to our <a href="/#">privacy policy</a> and <a href="/#">customer agreement</a>.
    </p>
</div>

<div class="form-group">
    <input class="btn btn-lg btn-success btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>


{{ form_end( form ) }}

<div class="form-group marginTop40px">
    <hr>
    <h4 class="marginTop30px marginBottom20px">{{ 'registration.already_registered_quest'|trans }}</h4>

    <a class="btn btn-lg btn-primary btn-block" data-ui-sref="loginName" href="{{ path( LOCALIZED_PREFIX ~ 'fos_user_security_login' ) }}">{{ 'layout.login'|trans }}</a>
</div>
