#panoView
{
	position: relative;
}

.panoCanvas
{
	width: 100%;
	height: auto;
}

.fullscreen
{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 15px;
	color: white;
	background-color: rgba( 0,0,0,0.2 );
	font-size: 18px;
	cursor: pointer;
}
.fullscreen:hover
{
	background-color: rgba( 0,0,0,0.5 );
}

#showMoreLessBtn
{
	position: absolute;
    bottom: 0px;
    background-color: rgba( 255, 255, 255, 0.8 );
    padding: 15px;
    text-align: center;;
    width: 150px;
    left:-webkit-calc(50% - 75px);
	left:-moz-calc(50% - 75px);
	left:calc(50% - 60px);
	cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#showMoreLessBtn:hover
{
	background-color: white;
}

#showPano
{
	display: none;
}


h2
{
	margin-top: 45px;
	margin-bottom: 25px;
}

h3
{
	margin-top: 40px;
	margin-bottom: 20px;
}

textarea
{
	width: 100%;
    border: 1px solid #EEE;
    padding: 10px 12px;
    border-radius: 10px;
    resize: none;
}

.item
{
	margin-bottom: 25px;
}
