{% extends 'DisismyWebBundle::main.html.twig' %}
{% spaceless %}



{% block stylesheets %}
	{{ parent() }}


    {% stylesheets
        'bundles/disismyweb/css/Users/show.css'
        filter='?uglifycss' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}






{% block mainContent %}

    <div class="container module" id="houseDetailsMod">
        <div class="row">
            <div  class="col-xs-12">
                {% if isCurUserProfile == true %}
                    <h1 class="page-header">{{ 'user.show.myProfileTitle' | trans }}.</h1>
                {% else %}
                    <h1 class="page-header">{% trans with { '%userName%': user[ "name" ] } %}user.show.title{% endtrans %}.</h1>
                {% endif %}
                <p>{{ user[ "desc" ] }}</p>
            </div>
        </div>
    </div>

{% endblock %}

{% endspaceless %}
