<div class="container module" id="houseDetailsMod">
    <div class="row">
        <div  class="col-xs-12">

            <div class="container">
                <div class="row">
                    <div  class="col-xs-12">
                        <div id="languageBtns">

                            <% _.each( languages, function( language ) { %>
                                <button class="btn btn-default flag" id="<%= language.get( 'name' ) %>Btn" data-encodedLanguageId="<%= language.get( 'encodedId' ) %>">
                                    <img class="desaturate" src="<%= Disismy.Symfony.BASE_URL %>/rawImage/<%= language.get( 'thumbnailEncodedId' ) %>" width="22" height="16" />
                                </button>
                            <% }); %>

                        </div>
                        <h1 class="page-header"><%= Translator.trans( 'object.edit.title', { 'objectType': Translator.trans( 'objectTypes.' + objectType ) } ) %>.</h1>
                    </div>
                </div>

                <form name="object" method="post" action="/edit/house/1126440043/" enctype="multipart/form-data">

                    <div class="row mt50px">
                        <div class="col-xs-6 col-sm-4 text-right alignRight mb5px">
                            <label for="object_isPublic"><%= Translator.trans( 'entities.isPublic' ) %>:</label>
                        </div>
                        <div class="col-xs-6 col-sm-6 text-left alignLeft">
                            <input type="checkbox" id="object_isPublic" name="object[isPublic]" class="checkbox boolModifier" value="1" <% if( object.get( "isPublic" ) ) { %> checked="checked" <% } %> >
                        </div>
                    </div>


                    <div class="row" id="isPublicContentRow">
                        <div class="col-xs-12 col-sm-offset-4 col-sm-6 text-left">
                            <p class="mb10px">
                                <%= Translator.trans( 'object.entity.viewers' ) %>:
                            </p>
                            <p>
                                <textarea id="viewersTagContainer" class="tag-editor-hidden-src"></textarea>
                            </p>
                        </div>
                    </div>



                    <div class="row mt50px">
                        <div class="col-xs-12 col-sm-4 text-right mb5px">
                            <label class="required"><%= Translator.trans( 'entities.thumbnail' ) %>:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-left thumbCont">
                            <div class="row mb15px">
                                <div class="col-xs-12 text-left">
                                    <div id="thumbImgLoading" class="loading hidden"></div>
                                    <img id="thumbImg" class="img-responsive mb10px" src="<%= Disismy.Symfony.BASE_URL %>/rawImage/<%= object.get( 'thumbId' ) %>" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-center">
                                        <button id="openImageManagerBtn" type="button" class="btn btn-success openImageManagerBtn" ><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;&nbsp;<%= Translator.trans( 'image.manager.change_image' ) %></button>
                                </div>
                            </div>


                        </div>
                    </div>

                    <% _.each( languages, function( language ) { %>

                        <div class="row mt50px <%= language.get( 'name' ) %>Content">
                            <div class="col-xs-12 col-sm-4 text-right centeredInXS mb5px">
                                <label for="object_name_<%= language.get( 'locale' ) %>"><%= Translator.trans( 'entities.name' ) %>
                                &nbsp;<img src="<%= Disismy.Symfony.BASE_URL %>/rawImage/<%= language.get( 'thumbnailEncodedId' ) %>" width="22" height="16" /> :</label>
                            </div>
                            <div class="col-xs-12 col-sm-6 text-left centeredInXS">
                                <input type="text" id="object_name_<%= language.get( 'locale' ) %>" name="object[name_<%= language.get( 'locale' ) %>]" class="form-control textModifier" value="<%= object.get( 'name_' + language.get( 'locale' ) ) %>">
                            </div>
                            <div class="col-xs-12 col-sm-2 text-left centeredInXS">
                                <!-- form_errors -->
                            </div>
                        </div>

                        <div class="row <%= language.get( 'name' ) %>Content">
                            <div class="col-xs-12 col-sm-4 text-right mb5px centeredInXS">
                                <label for="object_description_<%= language.get( 'locale' ) %>"><%= Translator.trans( 'entities.description' ) %></label>
                                &nbsp;<img src="<%= Disismy.Symfony.BASE_URL %>/rawImage/<%= language.get( 'thumbnailEncodedId' ) %>" width="22" height="16" /> :
                            </div>
                            <div class="col-xs-12 col-sm-6 text-left centeredInXS">
                                <textarea id="object_description_<%= language.get( 'locale' ) %>" name="object[description_<%= language.get( 'locale' ) %>]" class="form-control"><%= object.get( 'desc_' + language.get( 'locale' ) ) %></textarea>
                            </div>
                            <div class="col-xs-12 col-sm-2 text-left centeredInXS">
                                <!-- form_errors -->
                            </div>
                        </div>

                    <% }); %>


                    <!-- objectType properties: -->
                    <% if ( objectType == "house" ){ %>
                    <div id="typedObjectProperties"></div>
                    <% } %>
                    <!-- objectType properties: -->

                    <div class="row mb5px mt50px">
                        <div class="col-xs-6 col-sm-4 text-right alignRight mb5px">
                            <label for="object_isOnSale"><%= Translator.trans( 'object.entity.isOnSale' ) %>:</label>
                        </div>
                        <div class="col-xs-6 col-sm-6 text-left alignLeft">
                            <input type="checkbox" id="object_isOnSale" name="object[isOnSale]" class="checkbox boolModifier" value="1" <% if( object.get( "isOnSale" ) ) { %> checked="checked" <% } %> >
                            <!-- form_errors -->
                        </div>
                    </div>

                    <div class="row" id="isOnSaleContentRow">
                        <div class="col-xs-12 col-sm-6 text-left col-sm-offset-4 mb5px">
                            <label for="object_onSalePrice"><%= Translator.trans( 'object.entity.onSalePrice' ) %>:</label>
                            <input type="number" id="object_onSalePrice" name="object[onSalePrice]" class="form-control intModifier" value="<%= object.get( 'onSalePrice' ) %>"> &euro;
                            <!-- form_errors -->
                        </div>
                    </div>

                    <div class="row mb5px">
                        <div class="col-xs-6 col-sm-4 text-right alignRight mb5px">
                            <label for="object_isOnRent"><%= Translator.trans( 'object.entity.isOnRent' ) %>:</label>
                        </div>
                        <div class="col-xs-6 col-sm-6 text-left alignLeft">
                            <input type="checkbox" id="object_isOnRent" name="object[isOnRent]" class="checkbox boolModifier" value="1" <% if( object.get( "isOnRent" ) ) { %> checked="checked" <% } %> >
                            <!-- form_errors -->
                        </div>
                    </div>

                    <div class="row" id="isOnRentContentRow">
                        <div class="col-xs-12 col-sm-8 text-left col-sm-offset-4 mb5px">
                            <label for="object_onRentPrice"><%= Translator.trans( 'object.entity.onRentPrice' ) %>:</label>
                            <input type="number" id="object_onRentPrice" name="object[onRentPrice]" class="form-control intModifier" value="<%= object.get( 'onRentPrice' ) %>"> &euro;
                            <!-- form_errors --> <%= Translator.trans( 'every' ) %>

                            <input type="number" id="object_rentingPeriodUnits" name="object[rentingPeriodUnits]" class="form-control intModifier" value="<%= object.get( 'rentingPeriodUnits' ) %>">
                            <!-- form_errors -->

                            <!-- TODO: Esto tiene que ser dinámico. {{ form_widget( form.rentingPeriod ) }} -->
                            <select id="object_rentingPeriod" name="object[rentingPeriod]" class="form-control">
                                <option value="1">hour(s)</option>
                                <option value="2">day(s)</option>
                                <option value="3">week(s)</option>
                                <option value="4" selected="selected">month(s)</option>
                                <option value="5">year(s)</option>
                            </select>
                            <!-- form_errors -->
                        </div>
                    </div>

                    <input type="hidden" id="object__token" name="object[_token]" value="bWAuy_QOM7Cs8fnAM1veyBtI07d_5yK7psGrBRehBKc">

                </form>



                <!--
                <h2><%= Translator.trans( 'pano.entity.plural' ) %>:</h2>
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a href="">
                        <img class="img-responsive addNewItemBtnImage" src="{{ path( LOCALIZED_PREFIX ~ 'getRawImage', { '_locale' : app.request.locale, 'encodedImageId': 1763713197 } ) }}" alt="">
                    </a>
                    <h3>
                        <a href="">
                            <%= Translator.trans( 'pano.entity.add' ) %>
                        </a>
                    </h3>
                </div>

                {% for pano in objectPanos %}

                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="">
                            <img class="img-responsive" src="{{ path( LOCALIZED_PREFIX ~ 'getRawImage', { '_locale' : app.request.locale, 'encodedImageId': 460323131 } ) }}" alt="">
                        </a>
                        <h3>
                            <a href="">
                                {{ attribute( pano, "getName", [ app.request.locale ] ) }}
                            </a>
                        </h3>
                    </div>
                {% endfor %}
                -->

            </div>
        </div>
    </div>
</div>
