<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <% if( isOwnerCurUser ) { %>
                <h1 class="page-header"><%= Translator.trans( 'object.gallery.myGalleryTitle', { 'objectType': Translator.trans( ( 'objectTypes.' + objectType ) )} ) %>.</h1>
            <% } else { %>
                <h1 class="page-header">
                    <%= Translator.trans( 'object.gallery.title', { 'objectType': Translator.trans( ( 'objectTypes.' + objectType ) )} ) %>. <small><a href="<%= Disismy.Symfony.BASE_URL %>/#/profile/<%= galleryOwner.encodedId %>/"><%= galleryOwner.username %></a></small></h1>
            <% } %>
        </div>
    </div>
    <div class="row">

        <% objects.each(function( object, index ){ %>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a href="<%= Disismy.Symfony.BASE_URL %>/#/<%= object.get( 'type' ).name %>/<%= object.get( 'encodedId' ) %>/">
                    <img class="img-responsive" src="/rawImage/<%= object.get( 'thumbId' ) %>/" alt="">
                </a>
                <h3>
                    <a href="<%= Disismy.Symfony.BASE_URL %>/#/<%= object.get( 'type' ).name %>/<%= object.get( 'encodedId' ) %>/"><%= object.get( 'name' ) %></a>
                    <% if( isOwnerCurUser ) { %>
                        &nbsp;
                        <a class="btn btn-sm btn-success" role="button" href="<%= Disismy.Symfony.BASE_URL %>/#/edit/<%= object.get( 'type' ).name %>/<%= object.get( 'encodedId' ) %>/">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;
                            <%= Translator.trans( 'edit' ) %>
                        </a>
                    <% } %>
                </h3>
                <p>
                    <%= object.get( 'desc' ) %>
                </p>
            </div>
        <% }); %>


    </div>
</div>
