<div class="container module" id="houseDetailsMod">
    <div class="row">
        <div  class="col-xs-12">
            <h2><%= object.get( 'name' ) %></h2>
            <p><%= object.get( 'desc' ) %></p>
        </div>
    </div>
</div>



<div class="container module" id="sharingMod"></div>
