{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block stylesheets %}
	{{ parent() }}


    {% stylesheets
        'bundles/disismyweb/css/FOSUserBundle/login.css'
        filter='?uglifycss' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block fos_user_content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">

    <h1 class="form-signin-heading">{{ 'security.login.please_login' | trans }}.</h1>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


    <label for="username" class="sr-only">{{ 'security.login.username_or_email'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'security.login.username_or_email'|trans }}" required="required" autofocus="">



    <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}" />

    <div class="marginBottom20px marginTop20px checkboxContainer">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" > &nbsp;{{ 'security.login.remember_me'|trans }}.
        </label>
        &nbsp;&nbsp;<a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot_password'|trans }}</a>
    </div>


    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-lg btn-primary btn-block" />


    <div class="form-group marginTop40px">
        <hr>
        <h4 class="marginTop30px">{{ 'security.login.not_registered_yet'|trans }}</h4>
        <p class="help-block marginBottom20px">{{ 'security.login.register_now_it_will_only_take_you_one_minute'|trans|raw }}</p>

        <a class="btn btn-lg btn-success btn-block" data-ui-sref="loginName" href="{{ path( LOCALIZED_PREFIX ~ 'fos_user_registration_register' ) }}">{{ 'layout.register'|trans }}</a>
    </div>

</form>
{% endblock fos_user_content %}

{% block javascripts %}

    {{ parent() }}

    {% javascripts
        '@DisismyWebBundle/Resources/public/libs/bower/bower_components/jquery/dist/jquery.min.js'
        '@DisismyWebBundle/Resources/public/js/utils/FOSUserBundle/login.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
