{% extends "DisismyWebBundle::main.html.twig" %}
{% set isFosUserBundleContent = true %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block mainContent %}
    <div class="container">

        <div class="smallCage row">
            <div class="col-xs-12">
                <div class="contenedor">

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}


                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
