body,
html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body, h1, h2, h3,
h4, h5, h6
{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

p, li
{
    font-size: 17px;
    color: #777;
    font-weight: normal;
}

.topnav
{
    font-size: 14px;
}

.logoutNavbarSection
{
    margin: 0px;
    padding: 7px 15px;
    font-size: 14px;
}


#navbarButtonsUL
{
    padding-top: 8px;
    padding-bottom: 8px;
}

#navbarButtonsUL>li
{
    margin: 0px;
    padding: 0px 0px 0px 10px;
}

#navbarButtonsUL>li>a.btn
{
    color: white;
    padding: 7px 15px;
}

@media ( max-width:768px )
{
    #navbarButtonsUL>li
    {
        margin: 0px;
        padding: 0px 10px 8px 10px;
    }
    #navbarButtonsUL>li:last-of-type
    {
        margin: 0px;
        padding: 0px 10px 0px 10px;
    }
    #navbarButtonsUL>li>a.btn
    {
        padding: 10px;
    }
}
#navbarButtonsUL>li>a.btn-primary
{
    background-color: #337ab7;
    border: 0px;
}
#navbarButtonsUL>li>a.btn-primary:hover
{
    background-color: #286090;
    border: 0px;
}
#navbarButtonsUL>li>a.btn-success
{
    background-color: #5cb85c;
    border: 0px;
}
#navbarButtonsUL>li>a.btn-success:hover
{
    background-color: #449d44;
    border: 0px;
}



.lead
{
    font-size: 18px;
    font-weight: 400;
}

#debugTxt
{
	color: green;
	background-color: rgba( 0, 0, 0, 0.8 );
	padding: 10px;
    position: fixed;
	left: 0px;
	top: 0px;
    z-index: 9999999;
    width: 300px;
    border-bottom-right-radius: 10px;
}

#mainContentContainer
{
    position: relative;
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

.smallCage
{
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    margin: 40px auto 20px auto;
    max-width: 500px;
    padding: 15px 0px 20px;
    background-color: #f8f8f8;
}

.smallCage .contenedor
{
    padding: 15px;
    max-width: 330px;
    margin: 0 auto;
}

.smallCage h1
{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.smallCage input
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: -1px;
    border: 1px solid #ccc;
}

.smallCage input:first-of-type
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.smallCage input:last-of-type
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

footer
{
    padding: 45px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    margin-top: 30px;
}

@media ( max-width:768px )
{
    footer #socialBtns
    {
        margin-bottom: 25px;
    }

    footer #lngChooser
    {
        margin-bottom: 25px;
    }
}
@media ( min-width:768px )
{
    footer #socialBtns
    {
        text-align: left;
        margin-bottom: 25px;
        float: left;
        width: 75%;
    }

    footer #lngChooser
    {
        text-align: right;
        float:right;
        width: 25%;
    }

    #lngChooser>button, #lngChooser>ul
    {
        float: right !important;
    }
}

footer a
{
    white-space: nowrap;
}

.no-whatsapp #whatsappBtn
{
    display: none;
}
.whatsapp  #whatsappBtn
{
}

#mainLogo
{
    margin-top: -13px;
}

.backgroundColorBlue
{
    background-color: #4990cd;
}
.backgroundColorDarkBlue
{
    background-color: #2479bf;
}
.backgroundColorGreen
{
    background-color: #99ca3c;
}
.backgroundColorDarkGreen
{
    background-color: #70943d;
}
.backgroundColorDarkOrange
{
    background-color: #f89939;
}
.backgroundColorOrange
{
    background-color: #eb7824;
}


@media ( max-width:768px ) {
    .noPaddingInSmallWidths
    {
      margin-left: -15px !important;
      margin-right: -15px !important;
    }
    .mb20InXS
    {
        margin-bottom: 20px;
    }

    .mb30InXS
    {
        margin-bottom: 30px;
    }
    .centeredInXS
    {
        text-align: center;
    }
}
.dn
{
    display: none;
}




.pointerCursor
{
    cursor: pointer;
}

.grabCursor
{
    cursor: -webkit-grab;
    cursor: grab;
}

.ssk
{
    cursor: pointer;
}

.fs14px
{
    font-size: 14px;
}

.marginTop10px
{
    margin-top: 10px;
}
.marginTop20px
{
    margin-top: 20px;
}
.marginTop30px
{
    margin-top: 30px;
}
.marginTop40px
{
    margin-top: 40px;
}

/*
@media(max-width: 768px)
{
    .col-xs-12.text-right, .col-xs-12.text-left
    {
        text-align: center;
    }
}
*/

input[type=checkbox], form label
{
    cursor: pointer;
}
form label
{
    display: inline;
}

form .row
{
    margin-bottom: 20px;
}
@media ( max-width:768px )
{
    form>.row>div
    {
        text-align: center;
    }
}

img.desaturate
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.portfolio-item a>img:hover
{
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    cursor: pointer;
}

.portfolio-item h3
{
    font-size: 21px;
}

.portfolio-item p
{
    font-size: 15px;
}

.addNewItemBtnImage
{
    outline: 2px dashed #CCC;
    outline-offset: -2px;
}

/* jquery-tag-editor color tags */
.tag-editor
{
    padding: 8px 2px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.tag-editor .tag-editor-tag, .tag-editor .tag-editor-delete { font-size: 16px; }
.tag-editor .red-tag .tag-editor-tag { color: #c65353; background: #ffd7d7; }
.tag-editor .red-tag .tag-editor-delete { background-color: #ffd7d7; }
.tag-editor .green-tag .tag-editor-tag { color: #45872c; background: #e1f3da; }
.tag-editor .green-tag .tag-editor-delete { background-color: #e1f3da; }

.modal
{
    overflow: auto !important;
}
.modal p
{
    font-size: 16px;
}

@media screen and (min-width: 768px)
{
    .bigModal
    {
        width: 90%; /* either % (e.g. 60%) or px (400px) */
    }
}





.mt50px
{
    margin-top: 50px;
}
.mt40px
{
    margin-top: 40px;
}
.mt30px
{
    margin-top: 30px;
}
.mt20px
{
    margin-top: 20px;
}
.mt15px
{
    margin-top: 15px;
}
.mt10px
{
    margin-top: 10px;
}
.mt5px
{
    margin-top: 5px;
}
.mb50px
{
    margin-bottom: 50px !important;
}
.mb40px
{
    margin-bottom: 40px;
}
.mb30px
{
    margin-bottom: 30px;
}
.mb20px
{
    margin-bottom: 20px;
}
.mb10px
{
    margin-bottom: 10px;
}
.mb15px
{
    margin-bottom: 15px;
}
.mb5px
{
    margin-bottom: 5px !important;
}

.loading
{
	background: transparent url(/bundles/disismyweb/images/gammaGallery/loader_light.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 0.85 );
    position: absolute;
}

.formErrors
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.formErrors ul
{
    padding-left: 20px;
    margin-bottom: 5px;
}

.formErrors li
{
    color: #d9534f;
    font-size: 15px;
}


[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}
