.lang-xs {
    background-position: 0 -473px;
    min-width: 14px;
    height: 11px;
    min-height: 11px;
    max-height: 11px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../images/languages.png)
}

.lang-sm {
    background-position: 0 -1172px;
    min-width: 22px;
    height: 16px;
    min-height: 16px;
    max-height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../images/languages.png)
}

.lang-lg {
    background-position: 0 -2134px;
    min-width: 30px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../images/languages.png)
}

.lang-xs[lang=en] {
    background-position: 0 0
}

.lang-xs[lang=es] {
    background-position: 0 -11px
}

.lang-sm[lang=en] {
    background-position: 0 -22px
}

.lang-sm[lang=es] {
    background-position: 0 -38px
}

.lang-lg[lang=en] {
    background-position: 0 -1188px
}

.lang-lg[lang=es] {
    background-position: 0 -1210px
}

.lang-lbl-en:after,.lang-lbl-full:after,.lang-lbl:after {
    content: "Unknown language"
}



.lang-lbl[lang=en]:after {
    content: "Ingl\00e9s"
}

.lang-lbl[lang=es]:after {
    content: "Espa\0000F1ol"
}



.lang-lbl-en[lang=en]:after {
    content: "English"
}

.lang-lbl-en[lang=es]:after {
    content: "Spanish"
}


.lang-lbl-full[lang=en]:after {
    content: "\0000A0\0000A0Ingl\00e9s\0000A0/\0000A0English"
}

.lang-lbl-full[lang=es]:after {
    content: "\0000A0\0000A0Espa\0000F1ol\0000A0/\0000A0Spanish"
}


.lang-lg:before,.lang-sm:before,.lang-xs:before {
    content: '\0000A0'
}

.lang-xs.lang-lbl,.lang-xs.lang-lbl-en,.lang-xs.lang-lbl-full {
    padding-left: 16px
}

.lang-sm.lang-lbl,.lang-sm.lang-lbl-en,.lang-sm.lang-lbl-full {
    padding-left: 24px
}

.lang-lg.lang-lbl,.lang-lg.lang-lbl-en,.lang-lg.lang-lbl-full {
    padding-left: 32px
}

.lang-lg.lang-lbl-en:before,.lang-lg.lang-lbl-full:before,.lang-lg.lang-lbl:before,.lang-sm.lang-lbl-en:before,.lang-sm.lang-lbl-full:before,.lang-sm.lang-lbl:before,.lang-xs.lang-lbl-en:before,.lang-xs.lang-lbl-full:before,.lang-xs.lang-lbl:before {
    content: ''
}

.lang-lg,.lang-lg:after {
    top: 0;
    position: relative
}

.lang-sm {
    top: 1px;
    position: relative
}

.lang-sm:after {
    top: -1px;
    position: relative
}

.lang-xs {
    top: 4px;
    position: relative
}

.lang-xs:after {
    top: -4px;
    position: relative
}

.lead>.lang-lg {
    top: 2px
}

.lead>.lang-lg:after {
    top: -2px
}

.lead>.lang-sm {
    top: 6px
}

.lead>.lang-sm:after {
    top: -6px
}

.lead>.lang-xs {
    top: 8px
}

.lead>.lang-xs:after {
    top: -8px
}

small>.lang-sm {
    top: -1px
}

small>.lang-sm:after {
    top: 1px
}

small>.lang-xs {
    top: 2px
}

small>.lang-xs:after {
    top: -2px
}

h1>.lang-lg {
    top: 9px
}

h1>.lang-lg:after {
    top: -9px
}

h1>.lang-sm {
    top: 12px
}

h1>.lang-sm:after {
    top: -12px
}

h1>.lang-xs {
    top: 14px
}

h1>.lang-xs:after {
    top: -14px
}

h2>.lang-lg {
    top: 5px
}

h2>.lang-lg:after {
    top: -5px
}

h2>.lang-sm {
    top: 8px
}

h2>.lang-sm:after {
    top: -8px
}

h2>.lang-xs {
    top: 10px
}

h2>.lang-xs:after {
    top: -10px
}

h3>.lang-lg {
    top: 1px
}

h3>.lang-lg:after {
    top: -1px
}

h3>.lang-sm {
    top: 5px
}

h3>.lang-sm:after {
    top: -5px
}

h3>.lang-xs {
    top: 8px
}

h3>.lang-xs:after {
    top: -8px
}

h4>.lang-lg {
    top: -1px
}

h4>.lang-lg:after,h4>.lang-sm {
    top: 1px
}

h4>.lang-sm:after {
    top: -1px
}

h4>.lang-xs {
    top: 4px
}

h4>.lang-xs:after {
    top: -4px
}

h5>.lang-sm,h5>.lang-sm:after {
    top: 0
}

h5>.lang-xs {
    top: 2px
}

h5>.lang-xs:after {
    top: -2px
}

h6>.lang-sm,h6>.lang-sm:after {
    top: 0
}

h6>.lang-xs {
    top: 1px
}

h6>.lang-xs:after {
    top: -1px
}

.btn>.lang-sm {
    top: 2px
}

.btn>.lang-sm:after {
    top: -2px
}

.btn>.lang-xs {
    top: 4px
}

.btn>.lang-xs:after {
    top: -4px
}

.btn.btn-xs>.lang-sm,.btn.btn-xs>.lang-sm:after {
    top: 0
}

.btn.btn-xs>.lang-xs {
    top: 3px
}

.btn.btn-xs>.lang-xs:after {
    top: -3px
}

.btn.btn-sm>.lang-sm,.btn.btn-sm>.lang-sm:after {
    top: 0
}

.btn.btn-sm>.lang-xs {
    top: 3px
}

.btn.btn-sm>.lang-xs:after {
    top: -3px
}

.btn.btn-lg>.lang-lg {
    top: 1px
}

.btn.btn-lg>.lang-lg:after {
    top: -1px
}

.btn.btn-lg>.lang-sm {
    top: 3px
}

.btn.btn-lg>.lang-sm:after {
    top: -3px
}

.btn.btn-lg>.lang-xs {
    top: 6px
}

.btn.btn-lg>.lang-xs:after {
    top: -6px
}
