{% trans_default_domain 'FOSUserBundle' %}

<h1>{{ 'resetting.email.subject'|trans }}</h1>

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-lg btn-primary btn-block marginTop30px" />
    </div>
{{ form_end(form) }}
