@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ma5m0r');
    src:    url('fonts/icomoon.eot?ma5m0r#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ma5m0r') format('truetype'),
        url('fonts/icomoon.woff?ma5m0r') format('woff'),
        url('fonts/icomoon.svg?ma5m0r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-panorama:before {
    content: "\e40b";
}
.icon-panorama_horizontal:before {
    content: "\e40d";
}
.icon-fullscreen:before {
    content: "\e5d0";
}
.icon-fullscreen_exit:before {
    content: "\e5d1";
}
.icon-sync:before {
    content: "\e627";
}
.icon-mood:before {
    content: "\e7f2";
}
.icon-share:before {
    content: "\e80d";
}
.icon-3d_rotation:before {
    content: "\e84d";
}
.icon-exit_to_app:before {
    content: "\e879";
}
.icon-touch_app:before {
    content: "\e913";
}
.icon-codepen:before {
    content: "\e902";
}
.icon-enlarge:before {
    content: "\e900";
}
.icon-shrink:before {
    content: "\e901";
}

