<div class="container-fluid marketing">






    <div class="row" id="services">

        <div>

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-sm-6 mb30InXS">

                        <h2 class="section-heading"><%= Translator.trans( 'highlight1_title' ) %></h2>

                        <div class="summaries">
                            <%= Translator.trans( 'highlight1_summary' ) %>
                        </div>


                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12" style="padding: 0px;">

                                    <a style="width: 100%;" class="btn btn-lg btn-primary" href="<%= Disismy.Symfony.BASE_URL %>/#/sample/gallery/1126440043" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;<%= Translator.trans( 'pano.search_panos' ) %></a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 padding5pxRight">
                                    <a class="btn btn-lg btn-info btn-block" href="mailto:webmaster@disismy.com?subject=<%= Translator.trans( 'create_pano_mail_subject' ) %>" role="button"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;<%= Translator.trans( 'contact_with_us' ) %></a>
                                </div>
                                <div class="col-sm-6 padding5pxLeft">
                                    <a class="btn btn-lg btn-success btn-block" role="button" href="tel:+34629855501">
                                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;( +34 ) 629 85 55 01 </a>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                        <img class="img-responsive" src="/bundles/disismyweb/images/Default/highlight1.png" alt="<%= Translator.trans( 'highlight1_title' ) %>" />
                    </div>

                </div>



            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->




        <div>

            <div class="container">

                <div class="row">

                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 mb30InXS">

                        <h2 class="section-heading"><%= Translator.trans( 'highlight2_title' ) %></h2>

                        <div class="summaries">
                            <%= Translator.trans( 'highlight2_summary' ) %>
                        </div>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12" style="padding: 0px;">
                                    <a style="width: 100%;" class="btn btn-lg btn-primary" href="<%= Disismy.Symfony.BASE_URL %>/#/house/1126440043?pano=372066497" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;<%= Translator.trans( 'view_example' ) %></a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 padding5pxRight">
                                    <a class="btn btn-lg btn-info btn-block" href="mailto:webmaster@disismy.com?subject=<%= Translator.trans( 'create_pano_mail_subject' ) %>" role="button"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;<%= Translator.trans( 'contact_with_us' ) %></a>
                                </div>
                                <div class="col-sm-6 padding5pxLeft">
                                    <a class="btn btn-lg btn-success btn-block" role="button" href="tel:+34629855501">
                                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;( +34 ) 629 85 55 01 </a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="/bundles/disismyweb/images/Default/highlight2.png" alt="<%= Translator.trans( 'highlight2_title' ) %>" />
                    </div>

                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->










        <div>

            <div class="container">

                <div class="row">

                    <div class="col-lg-5 col-sm-6 mb30InXS">

                        <h2 class="section-heading"><%= Translator.trans( 'highlight3_title' ) %></h2>

                        <div class="summaries">
                            <%= Translator.trans( 'highlight3_summary' ) %>
                        </div>


                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                        <img class="img-responsive" src="/bundles/disismyweb/images/Default/highlight3.png" alt="<%= Translator.trans( 'highlight3_title' ) %>" />
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->




        <div>

            <div class="container">

                <div class="row">

                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6 mb30InXS">

                        <h2 class="section-heading"><%= Translator.trans( 'highlight4_title' ) %></h2>

                        <div class="summaries">
                            <%= Translator.trans( 'highlight4_summary' ) %>
                        </div>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 padding5pxRight">
                                    <a class="btn btn-lg btn-info btn-block" href="mailto:webmaster@disismy.com?subject=<%= Translator.trans( 'work_with_us_mail_subject' ) %>" role="button"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;<%= Translator.trans( 'contact_with_us' ) %></a>
                                </div>
                                <div class="col-sm-6 padding5pxLeft">
                                    <a class="btn btn-lg btn-success btn-block" role="button" href="tel:+34629855501">
                                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;( +34 ) 629 85 55 01
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="/bundles/disismyweb/images/Default/highlight4.png" alt="<%= Translator.trans( 'highlight4_title' ) %>" />
                    </div>

                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->


    </div><!-- /.row -->



</div><!-- /.container-fluid -->
