.editObjectCss h2
{
    margin-top: 50px;
    margin-bottom: 20px;
}

.editObjectCss .alignRight
{
    text-align: right !important;
}

.editObjectCss .alignLeft
{
    text-align: left !important;
}

.editObjectCss .img-responsive
{
    margin: 0px auto;
}

.editObjectCss #object_house_utilSqMeters, .editObjectCss #object_house_builtSqMeters
{
    width: 100px;
}

.editObjectCss #object_onSalePrice, .editObjectCss #object_onRentPrice,
.editObjectCss #object_rentingPeriodUnits, .editObjectCss #object_rentingPeriod
{
    display: inline-block;
    width: 130px;
    margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: right;
}

.editObjectCss #object_onRentPrice
{
    width: 90px;
}

.editObjectCss #object_rentingPeriodUnits
{
    width: 56px;
}

.editObjectCss #object_viewers
{
    width: 200px;
}



.editObjectCss .portfolio-item
{
    margin-bottom: 20px;
}

.editObjectCss .form-control
{
    display: inline-block;
}

.editObjectCss #isPublicContentRow, .editObjectCss #isOnSaleContentRow,
.editObjectCss #isOnRentContentRow
{
    display: none;
    margin-top: -15px;
}

.editObjectCss #languageBtns
{
    float: right;
    margin-top: 50px;
}

.editObjectCss #languageBtns button:first-of-type
{
    padding-right: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.editObjectCss #languageBtns button:last-of-type
{
    padding-left: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.editObjectCss #languageBtns button
{
    border: 0px;
    outline: none !important;
}

.editObjectCss .englishContent, .editObjectCss .spanishContent
{
    display: none;
}

.editObjectCss .save
{
    font-size: 16px !important;
}

.editObjectCss .thumbCont
{
    border: 1px solid #CCC;
    padding: 5px;
}
