.showObjectCss .module
{
    margin-top: 35px;
    margin-bottom: 35px;
}

.showObjectCss .module h2
{
    margin-top: 10px;
}

.showObjectCss .module p
{
    margin-top: 20px;
    margin-bottom: 15px;
}
