{% spaceless %}

    <div class="container module" id="shareMod">

        <div class="row">

            {# textoDcha #}
            <div class="col-lg-7 col-sm-push-5 col-sm-7">

                <h2 class="section-heading">{{ 'object.show.share' | trans }} &nbsp;
                    <div class="ssk-group ssk-round ssk-center" id="socialBtns">
                        <a class="ssk ssk-facebook"></a>
                        <a class="ssk ssk-twitter"></a>
                        <a class="ssk ssk-google-plus"></a>
                        <a class="ssk ssk-pinterest"></a>
                        <a class="ssk ssk-tumblr"></a>
                        {#<a class="ssk ssk-vk"></a>#}
                        <a class="ssk ssk-linkedin"></a>
                        <a id="whatsappBtn" href="whatsapp://send?text=Check%20my%20Pano:%20{{ app.request.uri }}" class="ssk ssk-whatsapp" title="WhatsApp"></a>
                        <a class="ssk ssk-email"></a>
                    </div>
                    {#<span class="icon-share" aria-hidden="true"></span>#}
                </h2>

                <p>{{ 'object.show.link' | trans }}:</p>
                <div class="input-group">
                    <textarea rows="2" class="form-control custom-control" id="panoLinkTA" spellcheck="false" readonly >{{ app.request.uri }}</textarea>
                    <span id="copyPanoLink" class="input-group-addon btn btn-primary">{{ 'object.show.copy' | trans }}</span>
                </div>

                <p>{{ 'object.show.embed' | trans }}:</p>

                <div class="input-group">
                    <textarea rows="4" class="form-control custom-control" id="embedPanoLinkTA" spellcheck="false" readonly ><iframe src="{{ BASE_URL }}/pano/{{ pano[ "encodedId" ] }}/embed/" width="560" height="315" frameborder="0" scrolling="no" allowfullscreen></iframe></textarea>
                    <span class="input-group-addon btn btn-primary" id="copyEmbedPanoLinkTA">{{ 'object.show.copy' | trans }}</span>
                </div>

            </div>


            {# imagen #}
            <div class="col-lg-5 col-sm-pull-7  col-sm-5">
                {% image '@DisismyWebBundle/Resources/public/images/share.jpg' %}
                    <img class="img-responsive" src="{{ asset_url }}" alt="{{ 'share_your_panos' | trans }}" />
                {% endimage %}
            </div>

        </div>

    </div>

{% endspaceless %}
