<div class="container module" id="houseDetailsMod">
    <div class="row">
        <div  class="col-xs-12">
            <% if( isCurUser ){ %>
                <h1 class="page-header"><%= Translator.trans( 'user.show.myProfileTitle' ) %>.</h1>
            <% } else{ %>
                <h1 class="page-header"><%= Translator.trans( 'user.show.title', { "userName" : user.get( 'name' ) } ) %>.</h1>
            <% } %>
            <p><%= user.get( 'desc' ) %></p>
        </div>
    </div>
</div>
