{% extends 'DisismyWebBundle::main.html.twig' %}
{% spaceless %}


{% block stylesheets %}
	{{ parent() }}
    {#
        estas son las dependencias del ImageManager:
        'bundles/disismyweb/css/gammaGallery/noJS.css'
        'bundles/disismyweb/css/gammaGallery/style.css'
        'bundles/disismyweb/css/gammaGallery/gamma.css'
        'bundles/disismyweb/css/Images/ImageManager.css'
    #}
    {% stylesheets
        'bundles/disismyweb/css/gammaGallery/noJS.css'
        'bundles/disismyweb/css/gammaGallery/style.css'
        'bundles/disismyweb/css/gammaGallery/gamma.css'
        'bundles/disismyweb/css/Images/ImageManager.css'
        'bundles/disismyweb/libs/bower/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css'
        'bundles/disismyweb/libs/bower/bower_components/jquery-tag-editor/jquery.tag-editor.css'
        'bundles/disismyweb/css/Objects/edit.css'
        filter='?uglifycss' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}








{% block mainContent %}
    <div class="container module" id="houseDetailsMod">
        <div class="row">
            <div  class="col-xs-12">

                <div class="container">
                    <div class="row">
                        <div  class="col-xs-12">
                            <div id="languageBtns">

                                {% for language in disismyLanguages %}
                                    <button class="btn btn-default" id="{{ language.name }}Btn" data-encodedLanguageId="{{ globals.optimus.encode( language.id ) }}">
                                        <img class="desaturate" src="{{ BASE_URL }}/rawImage/{{ globals.optimus.encode( language.thumbnail.id ) }}" width="22" height="16" />
                                    </button>
                                {% endfor %}

                            </div>
                            <h1 class="page-header">{% trans with { '%objectType%': ( 'objectTypes.' ~ objectType ) | trans } %}object.edit.title{% endtrans %}.</h1>
                        </div>
                    </div>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}


                    <div class="row mt50px">
                        <div class="col-xs-6 col-sm-4 text-right alignRight mb5px">
                            {{ form_label( form.isPublic ) }}:
                        </div>
                        <div class="col-xs-6 col-sm-6 text-left alignLeft">
                            {{ form_widget( form.isPublic ) }}
                            {{ form_errors( form.isPublic ) }}
                        </div>
                    </div>


                    <div class="row" id="isPublicContentRow">
                        <div class="col-xs-12 col-sm-offset-4 col-sm-6 text-left">
                            <p class="mb10px">
                                {{ "object.entity.viewers" | trans }}:
                            </p>
                            <p>
                                <textarea id="viewersTagContainer" class="tag-editor-hidden-src"></textarea>
                            </p>
                        </div>
                    </div>



                    <div class="row mt50px">
                        <div class="col-xs-12 col-sm-4 text-right mb5px">
                            {{ form_label( form.thumbnail ) }}:
                        </div>
                        <div class="col-xs-12 col-sm-6 text-left thumbCont">
                            <div class="row mb15px">
                                <div class="col-xs-12 text-left">
                                    <img class="img-responsive mb10px" src="{{ BASE_URL }}/rawImage/{{ globals.optimus.encode( form.vars.value.thumbnail.id ) }}" alt="{{ form.vars.value.thumbnail.alt( app.request.locale ) }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-center">
                                        <button id="openImageManagerBtn" type="button" class="btn btn-success openImageManagerBtn" ><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;&nbsp;{{ 'image.manager.change_image' | trans }}</button>
                                </div>
                            </div>

                            {#
                            {% for language in disismyLanguages %}

                                <div class="row {{ language.name }}Content mt5px">
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-3 text-right mb5px centeredInXS">
                                        {{ form_label( form.thumbnail[ "alt_" ~ language.locale ] ) }}
                                        &nbsp;<img src="{{ BASE_URL }}/rawImage/{{ globals.optimus.encode( language.thumbnail.id ) }}" width="22" height="16" /> :
                                    </div>
                                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-7 text-left">
                                        {{ form_widget( form.thumbnail[ "alt_" ~ language.locale ] ) }}
                                        {{ form_errors( form.thumbnail[ "alt_" ~ language.locale ] ) }}
                                    </div>
                                </div>
                            {% endfor %}
                            #}
                            {{ form_errors( form.thumbnail ) }}


                        </div>
                    </div>

                    {% for language in disismyLanguages %}

                        <div class="row mt50px {{ language.name }}Content">
                            <div class="col-xs-12 col-sm-4 text-right centeredInXS mb5px">
                                {{ form_label( form[ "name_" ~ language.locale ] ) }}
                                &nbsp;<img src="{{ BASE_URL }}/rawImage/{{ globals.optimus.encode( language.thumbnail.id ) }}" width="22" height="16" /> :
                            </div>
                            <div class="col-xs-12 col-sm-6 text-left centeredInXS">
                                {{ form_widget( form[ "name_" ~ language.locale ] ) }}
                            </div>
                            <div class="col-xs-12 col-sm-2 text-left centeredInXS">
                                {{ form_errors( form[ "name_" ~ language.locale ] ) }}
                            </div>
                        </div>

                        <div class="row {{ language.name }}Content">
                            <div class="col-xs-12 col-sm-4 text-right mb5px centeredInXS">
                                {{ form_label( form[ "description_" ~ language.locale ] ) }}
                                &nbsp;<img src="{{ BASE_URL }}/rawImage/{{ globals.optimus.encode( language.thumbnail.id ) }}" width="22" height="16" /> :
                            </div>
                            <div class="col-xs-12 col-sm-6 text-left centeredInXS">
                                {{ form_widget( form[ "description_" ~ language.locale ] ) }}
                            </div>
                            <div class="col-xs-12 col-sm-2 text-left centeredInXS">
                                {{ form_errors( form[ "description_" ~ language.locale ] ) }}
                            </div>
                        </div>

                    {% endfor %}


                    {# objectType properties: #}
                    {% if objectType == "house" %}
                        <div class="row mt50px">
                            <div class="col-xs-12 col-sm-4 text-right mb5px">
                                {{ form_label( form.house.utilSqMeters ) }}:
                            </div>
                            <div class="col-xs-12 col-sm-6 text-left">
                                {{ form_widget( form.house.utilSqMeters ) }} m2
                            </div>
                            <div class="col-xs-12 col-sm-2 text-left centeredInXS">
                                {{ form_errors( form.house.utilSqMeters ) }}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-right mb5px">
                                {{ form_label( form.house.builtSqMeters ) }}:
                            </div>
                            <div class="col-xs-12 col-sm-6 text-left">
                                {{ form_widget( form.house.builtSqMeters ) }} m2
                            </div>
                            <div class="col-xs-12 col-sm-2 text-left centeredInXS">
                                {{ form_errors( form.house.builtSqMeters ) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row mb5px mt50px">
                        <div class="col-xs-6 col-sm-4 text-right alignRight mb5px">
                            {{ form_label( form.isOnSale ) }}:
                        </div>
                        <div class="col-xs-6 col-sm-6 text-left alignLeft">
                            {{ form_widget( form.isOnSale ) }}
                            {{ form_errors( form.isOnSale ) }}
                        </div>
                    </div>

                    <div class="row" id="isOnSaleContentRow">
                        <div class="col-xs-12 col-sm-6 text-left col-sm-offset-4 mb5px">
                            {{ form_label( form.onSalePrice ) }}:
                            {{ form_widget( form.onSalePrice ) }} &euro;
                            {{ form_errors( form.onSalePrice ) }}
                        </div>
                    </div>

                    <div class="row mb5px">
                        <div class="col-xs-6 col-sm-4 text-right alignRight mb5px">
                            {{ form_label( form.isOnRent ) }}:
                        </div>
                        <div class="col-xs-6 col-sm-6 text-left alignLeft">
                            {{ form_widget( form.isOnRent ) }}
                            {{ form_errors( form.isOnRent ) }}
                        </div>
                    </div>

                    <div class="row" id="isOnRentContentRow">
                        <div class="col-xs-12 col-sm-8 text-left col-sm-offset-4 mb5px">
                            {{ form_label( form.onRentPrice ) }}:
                            {{ form_widget( form.onRentPrice ) }} &euro;
                            {{ form_errors( form.onRentPrice ) }} {{ 'every' | trans }}

                            {{ form_widget( form.rentingPeriodUnits ) }}
                            {{ form_errors( form.rentingPeriodUnits ) }}

                            {{ form_widget( form.rentingPeriod ) }}
                            {{ form_errors( form.rentingPeriod ) }}
                        </div>
                    </div>

                    <div class="row mt50px">
                        <div class="col-xs-0 col-sm-4 text-right">
                        </div>
                        <div class="col-xs-12 col-sm-6 text-left">
                            {{ form_widget(form.saveBtn) }}
                        </div>
                    </div>

                    {{ form_widget(form._token) }}





                    {#
                        <h2>{{ 'rooms' | trans }}:</h2>
                        <div class="col-sm-6 col-md-4 portfolio-item">
                            <a href="">
                                <img class="img-responsive" src="{{ path( LOCALIZED_PREFIX ~ 'getRawImage', { '_locale' : app.request.locale, 'encodedImageId': 1763713197 } ) }}" alt="">
                            </a>
                            <h3>
                                <a href="">
                                    {{ "add_new_room" | trans }}
                                </a>
                            </h3>
                        </div>

                        {% for room in typedObject.rooms %}

                            <div class="col-sm-6 col-md-4 portfolio-item">
                                <a href="">
                                    <img class="img-responsive" src="{{ path( LOCALIZED_PREFIX ~ 'getRawImage', { '_locale' : app.request.locale, 'encodedImageId': 460323131 } ) }}" alt="">
                                </a>
                                <h3>
                                    <a href="">
                                        {{ attribute( room, "getName", [ app.request.locale ] ) }}
                                    </a>
                                </h3>
                            </div>
                        {% endfor %}

                    #}

                    <h2>{{ 'pano.entity.plural' | trans }}:</h2>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="">
                            <img class="img-responsive addNewItemBtnImage" src="{{ path( LOCALIZED_PREFIX ~ 'getRawImage', { '_locale' : app.request.locale, 'encodedImageId': 1763713197 } ) }}" alt="">
                        </a>
                        <h3>
                            <a href="">
                                {{ "pano.entity.add" | trans }}
                            </a>
                        </h3>
                    </div>

                    {% for pano in objectPanos %}

                        <div class="col-sm-6 col-md-4 portfolio-item">
                            <a href="">
                                <img class="img-responsive" src="{{ path( LOCALIZED_PREFIX ~ 'getRawImage', { '_locale' : app.request.locale, 'encodedImageId': 460323131 } ) }}" alt="">
                            </a>
                            <h3>
                                <a href="">
                                    {{ attribute( pano, "getName", [ app.request.locale ] ) }}
                                </a>
                            </h3>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}




{% block setSymfonyVars %}

    {{ parent() }}

    <script>

        'use strict';

        var encodedObjectId = {{ encodedObjectId }};
        var objLanguages = [];
        {% for language in disismyLanguages %}
            {% if ( language in objectLanguages ) %}

                objLanguages.push({
                    "name": "{{ language.name|e('js') }}",
                    "isActive": true
                });

            {% else %}

                objLanguages.push({
                    "name": "{{ language.name|e('js') }}",
                    "isActive": false
                });

            {% endif %}
        {% endfor %}

        var viewers = [];
        var initialViewers = [];
        {% for viewer in objectViewers %}

            viewers.push({
                "id": {{ globals.optimus.encode( viewer.id ) }},
                "name": "{{ viewer.username|e('js') }}"
            });

            initialViewers.push( "{{ viewer.username|e('js') }}" );

        {% endfor %}

        console.log( "initialViewers: ", initialViewers );

        Disismy.Symfony.requireJScurAppPath = "js/Objects/edit";

    </script>

{% endblock %}


{% endspaceless %}
