{% extends 'DisismyWebBundle::main.html.twig' %}
{% spaceless %}

{% block stylesheets %}
	{{ parent() }}


    {% stylesheets
        'bundles/disismyweb/css/Objects/gallery.css'
        filter='?uglifycss' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}








{% block mainContent %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% if isGalleryOwnerCurUser == true %}
                        <h1 class="page-header">{% trans with { '%objectType%': ( 'objectTypes.' ~ objectType ) | trans } %}object.gallery.myGalleryTitle{% endtrans %}.</h1>
                    {% else %}
                        <h1 class="page-header">{% trans with { '%objectType%': ( 'objectTypes.' ~ objectType ) | trans } %}object.gallery.title{% endtrans %}. <small><a href="{{ path( LOCALIZED_PREFIX ~ 'showProfile', { '_locale' : app.request.locale, 'encodedUserId': globals.optimus.encode( galleryOwner.id ) } ) }}">{{ galleryOwner.username }}</a></small></h1>
                    {% endif %}
                </div>
            </div>
            <div class="row">


                {% for object in objects %}
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="{{ path( LOCALIZED_PREFIX ~ 'showObject', { '_locale' : app.request.locale, 'objectType': object[ 'type' ].name, 'encodedObjectId': object[ 'encodedId' ] } ) }}">
                            <img class="img-responsive" src="{{ path( LOCALIZED_PREFIX ~ 'getRawImage', { '_locale' : app.request.locale, 'encodedImageId': object.thumbId } ) }}" alt="">
                        </a>
                        <h3>
                            <a href="{{ path( LOCALIZED_PREFIX ~ 'showObject', { '_locale' : app.request.locale, 'objectType': object[ 'type' ].name, 'encodedObjectId': object[ 'encodedId' ] } ) }}">{{ object.name|e }}</a>
                            {% if isGalleryOwnerCurUser %}
                                &nbsp;
                                <a class="btn btn-sm btn-success" role="button" href="{{ path( LOCALIZED_PREFIX ~ 'editObject', { '_locale' : app.request.locale, 'objectType': object[ "type" ], 'encodedObjectId': object[ "encodedId" ] } ) }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;
                                    {{ 'edit' | trans }}
                                </a>
                            {% endif %}
                        </h3>
                        <p>
                            {{ object.desc|e }}
                        </p>
                    </div>
                {% endfor %}


            </div>
        </div>
{% endblock %}


{% block setSymfonyVars %}

    {{ parent() }}

    <script>
        'use strict';
        Disismy.Symfony.requireJScurAppPath = "js/Objects/gallery";
    </script>

{% endblock %}

{% endspaceless %}
