{% extends 'DisismyWebBundle::main.html.twig' %}
{% spaceless %}

{% block metadata %}
	{{ parent() }}

    <meta property="og:title" content="{{ pano[ "name" ] }}" />
    <meta property="og:description" content="{{ pano[ "desc" ] }}" />

    <meta property="og:image:url" content="https://disismy.com{{ asset( 'bundles/disismyweb/' ) }}images/Images/{{ object[ "thumbId" ] }}.jpg" />
    <meta property="og:image:secure_url" content="https://disismy.com{{ asset( 'bundles/disismyweb/' ) }}images/Images/{{ object[ "thumbId" ] }}.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="700" />
    <meta property="og:image:width" content="400" />

{% endblock %}



{% block stylesheets %}
	{{ parent() }}


    {% stylesheets
        'bundles/disismyweb/css/Panos/pano.css'
        'bundles/disismyweb/css/SharingMod/sharingMod.css'
        'bundles/disismyweb/css/Objects/show.css'
        filter='?uglifycss' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}






{% block mainContent %}

    {% include 'DisismyWebBundle:Panos:pano.html.twig' %}

    <div class="container module" id="houseDetailsMod">
        <div class="row">
            <div  class="col-xs-12">
                <h2>{{ object[ "name" ] }}</h2>
                <p>{{ object[ "desc" ] }}</p>
            </div>
        </div>
    </div>

    {% if hasSharingMod is defined %}
        {% include 'DisismyWebBundle:SharingMod:sharingMod.html.twig' %}
    {% endif %}

{% endblock %}



{% block setSymfonyVars %}

    {{ parent() }}

    <script>
        'use strict';
        Disismy.Symfony.Pano.json = {{ pano | json_encode( constant( 'JSON_PRETTY_PRINT' ) ) | raw }};
        Disismy.Symfony.Pano.isInFullScreen = {{ isPanoInFullScreen }};
        Disismy.Symfony.extra.copiedTxt = "{{ 'object.show.copied' | trans }}";
        Disismy.Symfony.extra.copyTxt = "{{ 'object.show.copy' | trans }}";
        Disismy.Symfony.requireJScurAppPath = "js/Objects/show";
    </script>

{% endblock %}

{% endspaceless %}
