.sharingModCss textarea
{
    width: 100%;
    border: 1px solid #EEE;
    padding: 10px 12px;
    border-radius: 10px;
    resize: none;
    background-color: white !important;
}

.sharingModCss .icon-share
{
    background-color: #F89939;
    border-radius: 30px;
    padding: 10px 12px 10px 8px;
    color: white;
}

.sharingModCss #sharingMod img
{
    border: 1px solid #CCC;
    padding: 4px;
    background-color: white;
}

@media ( max-width:768px )
{
    .sharingModCss #sharingMod img
    {
        margin-top: 25px;
    }
}

.sharingModCss #socialBtns
{
    display: inline;
    vertical-align: middle;
}
@media ( max-width:550px )
{
    .sharingModCss #socialBtns
    {
        display: block;
        margin-top: 8px;
        margin-left: 7px;
    }

    .sharingModCss .ssk
    {
        padding: 4px;
    }
}
